MONGODB_URI=
JWT_SECRET=
NEXT_PUBLIC_APP_NAME=Crazzycars.pk
NEXT_PUBLIC_STORE_NAME=Crazzycars.pk
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_ADMIN_URL=
NEXT_PUBLIC_STORE_URL=
NEXT_PUBLIC_WHATSAPP=
RESEND_API_KEY=
FROM_EMAIL=
FROM_NAME=Crazzycars.pk
ADMIN_EMAIL=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
POSTEX_API_KEY=
